.login-body {
    background: url(/assets/images/login-bg.jpg);
    background-size: cover;
    height: 100vh;
    padding: 10% 0 0 0;
}

.vivo-boneco{
    max-width: 2px; 
    max-height: 1px
  }

.login-form-1{
    background: #fff;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding-top: 10%;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6e2583+0,127cc1+100;Gold+3D */
    background: #063040; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #063040 0%, #127cc1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #063040 0%,#127cc1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #063040 0%,#127cc1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#063040', endColorstr='#127cc1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}