.guardiao{
    text-align: center;
}

.card-body{
    
}

.button1{
    padding-left: 3px;
    float: left;
  
  }
  
  .button2{
    padding-inline-start: 3px;
  float: left;
  }

.card{
    align-content: center;
    width: 1000px;
    height: 700px;
    margin-left: 30px;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

