<app-menu></app-menu>
<div class="guardiao">
  <h1>Guardião Fiscal</h1>
</div>



  <div class="card" >

      <div class="card-body">
        <h5 class="card-title" style=" text-align: center;">Parametrização Regras</h5>

        <form>
            <div class="form-group">
              <label for="formGroupExampleInput">ID Regra</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ID Ciclo">
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Regra</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2">Tipo</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
              </div>

               

          </form>

          <app-radiobutton></app-radiobutton>

          <div class="caixa">
              <div class="button1">
                <a class="btn btn-primary" routerLink="/formulario" role="button">Salvar</a>
              </div>
              
              <div class="button2">
                  <a class="btn btn-primary" routerLink="/formulario" role="button">Cancelar</a>
              
              </div>
            
            </div>           
      </div>
    </div>